<mat-nav-list>
  <div mat-subheader>General</div>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <!-- <mat-icon matListItemIcon>dashboard</mat-icon> -->
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/requests" routerLinkActive="active">
    <mat-icon matListItemIcon>receipt_long</mat-icon>
    <span>Requests</span>
  </a>
  <a mat-list-item routerLink="/clients">
    <mat-icon matListItemIcon>group</mat-icon>
    <span>Clients</span>
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon matListItemIcon>person</mat-icon>
    <span>Profile</span>
  </a>
  <a mat-list-item routerLink="/rewards">
    <mat-icon matListItemIcon>payments</mat-icon>
    <span>Rewards</span>
  </a>
  <button mat-list-item (click)="logout()" type="button" class="logout-item">
    <span matListItemIcon style="display:flex; align-items:center; width:24px; height:24px;">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 13v-2H7V8l-5 4 5 4v-3h9zm3-10H5c-1.1 0-2 .9-2 2v6h2V5h14v14H5v-6H3v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" fill="currentColor"/>
      </svg>
    </span>
    <span>Logout</span>
  </button>
</mat-nav-list>


