<mat-nav-list>
  <div mat-subheader>General</div>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/requests" routerLinkActive="active">
    <mat-icon matListItemIcon>receipt_long</mat-icon>
    <span>Requests</span>
  </a>
  <a mat-list-item routerLink="/clients">
    <mat-icon matListItemIcon>group</mat-icon>
    <span>Clients</span>
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon matListItemIcon>person</mat-icon>
    <span>Profile</span>
  </a>
  <a mat-list-item routerLink="/rewards">
    <mat-icon matListItemIcon>payments</mat-icon>
    <span>Rewards</span>
  </a>
  <button mat-list-item (click)="logout()" type="button" class="logout-item">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-nav-list>


